# ignore virtual environment
.venv
venv

# ignore pycharm setting
.idea

# ignore api key
responses_collection/api_config.json
translate/config.json

#cached py
__pycache__/
.pytest_cache/
*.pyc

# Cursor specific
.cursorignore
.cursor/
.cursor-cache/
.cursorrules

# Apple feature
.DS_Store

# Logs
*.log
logs/
responses_collection/response_variance/logs/

# data 
data/
